In [1]:
#1
for i in range(5,0,-1):
  for j in range (0,i):
    print('5',end=" ")
  print(" ")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [2]:
#2
for i in range(5,0,-1):
  for j in range(0,i+1):
    print (j,end=" ")
  print(" ")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [3]:
#3
for i in range(1,10,2):
  for j in range(1,i+1,2):
    print (i,end=" ")
  print(" ")

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [4]:
#4
for i in range(0,5):
  for j in range(i+1,0,-1):
    print (j,end=" ")
  print(" ")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [5]:
#5
count = 0
for i in range(0,4):
  count=count+i+1
  temp = count
  for j in range(0,i+1):
    print (temp,end=" ")
    temp-=1
  print(" ")

1
3 2
6 5 4
10 9 8 7

In [6]:
#6
def pascal(n):
    for i in range(0, n):
        for j in range(0, i + 1):
            print(function(i, j),end=" ")
        print()
def function(n, k):
    res = 1
    if (k > n - k):
        k = n - k
    for i in range(0, k):
        res = res * (n - i)
        res = res // (i + 1)
    return res
pascal(7)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [7]:
#7
n=5  
for i in range(1,n+ 1):  
    for j in range(1, n+ 1):   
        if j <= i:  
            print(i, end=' ')  
        else:  
            print(j, end=' ')  
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [8]:
#8
for i in range(1,9):
  for j in range(1,i+1):
    print (i*j,end=" ")
  print(" ")

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [9]:
#9 
rows = int(input("enter the number : "))
print("")
k = 2*rows -2
for i in range(rows,-1,-1):
  for j in range(k,0,-1):
    print(end=" ")
  k = k+1
  for j in range(0,i+1):
    print("*",end=" ")
  print("\r")

enter the number : 5

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [10]:
#10
n=7
for i in range(1,n+1):
    for j in range(0,n-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [11]:
#11
n=6
for i in range(0, n):
    for j in range(0, i + 1):
        print("* ", end="")
    print("\r")
print("                   ")
for i in range(n,0,-1):
    for j in range(0, i):
        print("* ", end="")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
#12
n=5
for i in range(n):
    for j in range(0,n-1):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()
for i in range(n,0,-1):
    for j in range(0,n-1):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

    *
    * *
    * * *
    * * * *
    * * * * *
    * * * *
    * * *
    * *
    *

In [13]:
#13
n=5
k = 2 * n - 2
for i in range(0, n-1):
    for j in range(0, k):
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        print("* ", end="")
    print("\r")
k = -1
for i in range(n-1,-1,-1):
    for j in range(k,-1,-1):
        print(end=" ")
    k = k + 2
    for j in range(0, i + 1):
        print("* ", end="")
    print("\r")

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [14]:
#14
n=4
k = n - 2
for i in range(n,-1 ,-1):
    for j in range(k , 0 , -1):
          print(end=" ")
    k = k + 1    
    for j in range(0, i+1):
        print("* " , end="")
    print("\r")
k = 2 * n  - 2
for i in range(0 , n+1):
    for j in range(0 , k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("\r")

  * * * * *
   * * * *
    * * *
     * *
      *
      *
     * *
    * * *
   * * * *
  * * * * *

In [15]:
#15
# part1
for i in range(8,0,-1):
    for j in range(0, i):
        print("*", end="")
    for j in range(8-i):
        print("_",end="")
    print()

********
*******_
******__
*****___
****____
***_____
**______
*_______

In [16]:
# part2
for i in range(8,0,-1):
    for j in range(8-i):
        print("_",end="")
    for j in range(i,0,-1):
        print("*",end="")
    print()

********
_*******
__******
___*****
____****
_____***
______**
_______*

In [17]:
# combine the for loops
for i in range(8,0,-1):
    for j in range(0, i):
        print("*", end="")
    for j in range(8-i):
        print("_",end="")
    for j in range(8-i):
        print("_",end="")
    for j in range(i,0,-1):
        print("*",end="")    
    print()

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*